.sectionTitle {
  display: flex;
  justify-content: space-between;
  place-items: center;
}

.favoritesHeader {
  display: flex;
  justify-content: end;
  margin: 10px 0;
}

.favorites {
  color: #18c6ca;
}

.icon {
  margin: 5px;
}

@media (max-width: 500px) {
  .sectionTitle {
    place-items: initial;
    background: #ededed;
    margin-top: 5px;
  }

  .favoritesHeader {
    background: #ededed;
    width: 100%;
    margin: 0;
  }

  .favorites {
    background: #ededed;
  }
}
