.dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  margin: 50px auto;
  width: 50%;
  box-shadow: 0 3px 14px 0 #e6e6e6;
  text-align: center;
  padding: 20px 1rem;
  border-radius: 20px;
}
